
@{
    ViewBag.Title = "About us";
}

<div class="row">
    <div class="col-lg-4">
        <h4>Group I members</h4>
        <ul class="list-group">
            <li class="list-group-item">L.A.S. PRAMODYA</li>
            <li class="list-group-item"> M.A.S. SURANGA</li>
            <li class="list-group-item">T. THIVIYA</li>
            <li class="list-group-item">P.L.D. WASANA</li>
            <li class="list-group-item">M.L.R. YASARA</li>
        </ul>



    </div>

    <div class="col-lg-8">
        <h4>Technologies used</h4>

        <span class="label label-success">ASP .NET MVC 5</span>
        <span class="label label-success">HTML5</span>
        <span class="label label-success">CSS3</span>
        <span class="label label-success">Javascript</span>
        <span class="label label-success">JQuery</span>
        <span class="label label-success">Bootstrap</span>
        <span class="label label-success">MS SQL Server</span>
        
    </div>

</div>

